<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Demo · IOTA Tracing Funds</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
        </nav>
        <a href="" class="">
          <svg xmlns="http://www.w3.org/2000/svg" width="110" height="28" fill="black" viewBox="0 0 2866.82 728.18"><title>IOTA Logo</title>
            <path d="M1307.06,364c-.59,42.83,7,84.12,25.25,123,37.1,79,99.17,123.36,187.69,126.33,87.28,3,155.11-33.44,195.55-110.92,46.87-90.14,47.17-183.32,1.25-273.76C1643.18,83,1447,84.48,1363.36,191.21c-39.86,50.94-56,109.15-56.3,172.76m-33.44,1.21c-.62-50.94,9.1-99.79,31.93-145.63,47.13-94.37,146.63-145.31,254.9-131.14,113.74,14.79,193.42,91,215,206.52,12.48,65.41,8.81,130.22-15.82,192.65-40.44,102.51-129,158-244.88,154.37-106.43-3.3-192.5-67.53-224.73-171.87-10.35-33.44-17.69-104.61-16.44-104.9" transform="translate(-0.33 0)"></path><path d="M2867.15,628.38a8.74,8.74,0,0,1-2.13.92c-31.34,2.71-31.34,2.71-42.87-26.87Q2734.07,375,2646,147.21c-1.54-3.63-3.05-7.26-5.47-13.58-3.05,6.65-5.18,10.87-6.68,15.38q-91.24,227.49-181.91,454.67C2440.7,632,2440.7,632,2406.64,629.3c2.13-5.76,4-11.16,6.1-16.59,67.49-167,135.36-333.77,202.26-500.51,6.1-15,15.2-12.33,26.14-13.25,10.68-.92,16.73,1.21,21.32,13C2728.74,280.15,2796,448.1,2862.89,616c1.51,3.93,2.75,8.15,4.26,12.37" transform="translate(-0.33 0)"></path><path d="M2108.25,127.89H1920V100.15h408.5v27.16h-188V628.7H2108c.29-165.82.29-331.94.29-500.81" transform="translate(-0.33 0)"></path><rect x="1007.45" y="99.6" width="31.01" height="529.39"></rect><path d="M660.26,467Z" transform="translate(-0.33 0)"></path><path d="M314.46,390Z" transform="translate(-0.33 0)"></path><path d="M189.37,520.78Z" transform="translate(-0.33 0)"></path><path d="M254.47,467.92Z" transform="translate(-0.33 0)"></path><path d="M582,437.05Z" transform="translate(-0.33 0)"></path><path d="M455.77,181.71a14.88,14.88,0,0,0,16.29,5.64,14.52,14.52,0,0,0,4.25-2,14.73,14.73,0,0,0-8.62-26.79,14.43,14.43,0,0,0-8.29,2.57,14.88,14.88,0,0,0-3.63,20.63" transform="translate(-0.33 0)"></path><path d="M418.1,144.79a16.7,16.7,0,0,0,5.62,11.73A17.16,17.16,0,1,0,446.66,131a16.91,16.91,0,0,0-11.32-4.16,17.17,17.17,0,0,0-12.85,5.55,16.89,16.89,0,0,0-4.39,12.4" transform="translate(-0.33 0)"></path><path d="M380.45,136.29a20.05,20.05,0,0,0,9.66,2.52,18.82,18.82,0,0,0,5.67-.84,19.52,19.52,0,0,0,11.76-9.48,20,20,0,0,0-7.75-27.16,19.11,19.11,0,0,0-9.22-2.28,20.65,20.65,0,0,0-17.92,10.11,20.15,20.15,0,0,0,7.8,27.13" transform="translate(-0.33 0)">
            </path><path d="M325.56,124.63a23.57,23.57,0,0,0,12.77-.12,23.34,23.34,0,0,0-.11-44.81,21.14,21.14,0,0,0-5.92-.81,24.14,24.14,0,0,0-22.86,16.87,23.64,23.64,0,0,0,16.12,28.87" transform="translate(-0.33 0)"></path><path d="M259.17,125.59a27.21,27.21,0,0,0,21.46-45.48A26.5,26.5,0,0,0,262,71.27h-1.33A27.66,27.66,0,0,0,233.45,97.1a27.2,27.2,0,0,0,25.72,28.49" transform="translate(-0.33 0)"></path><path d="M146.72,118.66a31.6,31.6,0,1,0,25.72-36.78,31.59,31.59,0,0,0-25.72,36.78" transform="translate(-0.33 0)"></path><path d="M461.2,238.12a17.16,17.16,0,0,0-1.34-24.21,17.41,17.41,0,0,0-24.05,1.22,17.12,17.12,0,0,0,12.67,28.66,17.76,17.76,0,0,0,4.91-.7,17.08,17.08,0,0,0,7.83-5" transform="translate(-0.33 0)">
            </path><path d="M422.53,196.12a20,20,0,0,0-9.57-12,19.06,19.06,0,0,0-9.25-2.34A20.47,20.47,0,0,0,385.82,192,19.95,19.95,0,0,0,409,220.77a19.29,19.29,0,0,0,11.7-9.5,19.66,19.66,0,0,0,1.83-15.17" transform="translate(-0.33 0)"></path><path d="M367.43,191.28a23.45,23.45,0,0,0-2.1-17.74,23.06,23.06,0,0,0-13.89-11,21.74,21.74,0,0,0-6-.84c-10.39,0-20,7.08-22.77,16.85a23.25,23.25,0,1,0,44.73,12.74" transform="translate(-0.33 0)"></path><path d="M300.88,182.64a26.93,26.93,0,0,0-7-19.67,26.56,26.56,0,0,0-18.66-8.84,11.09,11.09,0,0,0-1.41-.06c-13.94,0-26.35,11.79-27.12,25.77a27.24,27.24,0,0,0,25.72,28.55h1.53a27,27,0,0,0,26.92-25.78" transform="translate(-0.33 0)"></path><path d="M191.1,164.16a31.76,31.76,0,0,0-.32,63.52,33.52,33.52,0,0,0,9.45-1.36,31.77,31.77,0,0,0-9.13-62.2" transform="translate(-0.33 0)"></path><path d="M66.2,249.22a37,37,0,0,0,34,22.68,36.2,36.2,0,0,0,10.39-1.53,39.33,39.33,0,0,0,4.23-1.5,37.13,37.13,0,1,0-48.66-19.74l0,.09" transform="translate(-0.33 0)">
            </path><path d="M450,275.57a19,19,0,0,0-9.33-2.37,20.28,20.28,0,0,0-17.76,10.12,20,20,0,0,0,7.75,27.13,19.71,19.71,0,0,0,15.3,1.76,20,20,0,0,0,4-36.64" transform="translate(-0.33 0)"></path><path d="M361.72,287.73A23.29,23.29,0,1,0,388.48,254a21,21,0,0,0-6-.84A24,24,0,0,0,359.7,269.9a23.39,23.39,0,0,0,2,17.83" transform="translate(-0.33 0)"></path><path d="M338,274a27.28,27.28,0,0,0-25.77-28.55h-1.29c-14,0-26.45,11.79-27.14,25.77a27.22,27.22,0,0,0,25.67,28.61h1.34a26.91,26.91,0,0,0,7.72-1.13A27.38,27.38,0,0,0,338,274" transform="translate(-0.33 0)">
            </path><path d="M228.21,319.14a31.45,31.45,0,0,0,5.48-.49,25.56,25.56,0,0,0,3.46-.81,31.67,31.67,0,1,0-8.94,1.3" transform="translate(-0.33 0)"></path><path d="M171.75,340a37,37,0,0,0-.25-28.43A37.82,37.82,0,0,0,137.08,289a35.61,35.61,0,0,0-14.21,2.92,36.58,36.58,0,0,0-19.94,20.19,37.22,37.22,0,0,0,34.39,51.17,36.12,36.12,0,0,0,10.48-1.53A36.81,36.81,0,0,0,171.75,340" transform="translate(-0.33 0)"></path><path d="M78.52,369.07a43.67,43.67,0,0,0-35.19-17.95,42.87,42.87,0,0,0-12.22,1.79,43.56,43.56,0,0,0,24.63,83.56,43.55,43.55,0,0,0,22.78-67.4" transform="translate(-0.33 0)"></path><path d="M545.49,521.52A14.89,14.89,0,0,0,530.76,508a9.07,9.07,0,0,0-1.28.06,14.74,14.74,0,0,0-13,11.33,15.66,15.66,0,0,0-.36,4.73,14.87,14.87,0,0,0,14.62,13.44,9.07,9.07,0,0,0,1.28-.06,14.78,14.78,0,0,0,10-5.26,14.59,14.59,0,0,0,3.49-10.72" transform="translate(-0.33 0)"></path><path d="M555.84,505.09a17.06,17.06,0,1,0,32.88-1.24,16.69,16.69,0,0,0-8.48-10,17,17,0,0,0-7.67-1.88,16.14,16.14,0,0,0-5.29.89,16.81,16.81,0,0,0-11.43,12.25" transform="translate(-0.33 0)"></path><path d="M597.26,477.83A20.09,20.09,0,0,0,611.8,501.9a19.83,19.83,0,0,0,4.91.61,19.51,19.51,0,0,0,10.17-2.86c9.09-5.52,12.28-18.38,6.82-27.48a20.19,20.19,0,0,0-17.15-9.62,19.87,19.87,0,0,0-19.29,15.28" transform="translate(-0.33 0)"></path><path d="M660.26,463.54A23.05,23.05,0,0,0,676.38,457c8.84-8.61,9.08-24.07.49-33.05A23,23,0,0,0,660.21,417a23.27,23.27,0,0,0-.39,46.53Z" transform="translate(-0.33 0)">
            </path><path d="M721.76,395c8-12.36,4.31-29.61-8-37.7a27,27,0,0,0-37.35,7.95l-.09.14a27.93,27.93,0,0,0-3.63,8.43A27.2,27.2,0,0,0,699,407.44,27.08,27.08,0,0,0,721.76,395" transform="translate(-0.33 0)">
            </path><path d="M738.48,271.24a31.43,31.43,0,0,0-10.78-1.91,31.94,31.94,0,0,0-29.89,21,28.26,28.26,0,0,0-1,3.38,31.83,31.83,0,0,0,20,37.33,31.3,31.3,0,0,0,10.67,1.87A31.93,31.93,0,0,0,757.38,312c5.81-16.56-2.67-34.82-18.9-40.71" transform="translate(-0.33 0)"></path><path d="M477.69,475.31a17.11,17.11,0,0,0,12.64,20.62,16.85,16.85,0,0,0,3.94.47,17.26,17.26,0,0,0,5.38-.87,17.24,17.24,0,0,0,2.58-31.46l-.13-.07a16.57,16.57,0,0,0-7.77-1.91,17.11,17.11,0,0,0-16.64,13.24" transform="translate(-0.33 0)">
            </path><path d="M533.67,472a20.06,20.06,0,0,0,15.13-2.31c9.14-5.57,12.25-18.17,6.77-27.53a20.09,20.09,0,0,0-17.16-9.51,19.81,19.81,0,0,0-19.28,15.26,19.37,19.37,0,0,0,2.34,14.94,19.74,19.74,0,0,0,12.2,9.15" transform="translate(-0.33 0)">
            </path><path d="M582,433.62a23.15,23.15,0,0,0,16.21-6.56,24,24,0,0,0,.54-33,23.26,23.26,0,1,0-17,39.48Z" transform="translate(-0.33 0)">
            </path><path d="M643.6,365.12a27,27,0,0,0,3.6-20.37,26.86,26.86,0,0,0-49.13-9.11,27.19,27.19,0,0,0,22.75,41.9,27.41,27.41,0,0,0,5.78-.61,27,27,0,0,0,17-11.78" transform="translate(-0.33 0)"></path><path d="M638.69,301.1a31.81,31.81,0,0,0,21.66-59.81,31.69,31.69,0,0,0-40.61,19,33.7,33.7,0,0,0-1,3.53,31.82,31.82,0,0,0,20,37.24" transform="translate(-0.33 0)"></path><path d="M657,209.82a32.71,32.71,0,0,0,4.53.29A37.19,37.19,0,0,0,666,136a40.72,40.72,0,0,0-4.55-.29,36.83,36.83,0,0,0-36,28.29,44,44,0,0,0-.79,4.42A37,37,0,0,0,632.35,196,36.5,36.5,0,0,0,657,209.82" transform="translate(-0.33 0)"></path><path d="M460.22,443.67a19.73,19.73,0,0,0-2.07-14.91,19.95,19.95,0,0,0-36.49,5.58A20.37,20.37,0,0,0,424,449.48a19.78,19.78,0,0,0,36.25-5.81" transform="translate(-0.33 0)"></path><path d="M484.66,420h0a22.9,22.9,0,0,0,16.09-6.5c8.89-8.61,9.19-24,.6-33a23.21,23.21,0,0,0-32.82-.74l-.1.1A23.93,23.93,0,0,0,462,391.27,23.19,23.19,0,0,0,484.66,420" transform="translate(-0.33 0)">
            </path><path d="M508.67,359.61a27.14,27.14,0,0,0,37.52-8.08h0c7.85-12.16,4.09-29.73-8-37.59a27.2,27.2,0,0,0-29.56,45.67" transform="translate(-0.33 0)"></path><path d="M562.8,227.73a31.76,31.76,0,0,0-21.56,59.75A30.89,30.89,0,0,0,552,289.39a31.77,31.77,0,0,0,10.8-61.66" transform="translate(-0.33 0)"></path><path d="M568.46,122.45a39.8,39.8,0,0,0-4.5-.26,36.9,36.9,0,0,0-36,28.43,31.93,31.93,0,0,0-.77,4.22,37.16,37.16,0,0,0,32.3,41.46,36,36,0,0,0,4.28.26c18.6,0,34.83-14.36,37-32.68a37,37,0,0,0-32-41.4l-.27,0" transform="translate(-0.33 0)">
            </path><path d="M551.66,87.05a39.8,39.8,0,0,0,4.63-.26A43.52,43.52,0,0,0,551.79,0c-1.52,0-3.08.09-4.61.23a43.63,43.63,0,0,0-37.72,33.11,44.48,44.48,0,0,0-.95,14.77,43.44,43.44,0,0,0,43.15,38.94" transform="translate(-0.33 0)"></path><path d="M207.48,392a14.73,14.73,0,0,0-23.43,4.42,15,15,0,0,0-.43,11.29,14.53,14.53,0,0,0,7.5,8.41,14.25,14.25,0,0,0,6.19,1.39h0A14.76,14.76,0,0,0,207.48,392" transform="translate(-0.33 0)"></path><path d="M191.83,428.92A17.14,17.14,0,1,0,205,449.43l0-.11A17,17,0,0,0,192.16,429l-.34-.07" transform="translate(-0.33 0)"
            ></path><path d="M189.65,517.35A20,20,0,0,0,203,482.87a19.63,19.63,0,0,0-13.55-5.49,20.09,20.09,0,0,0-14.54,6.07,19.72,19.72,0,0,0-5.56,14.22c.21,10.48,9.6,19.67,20,19.67Z" transform="translate(-0.33 0)"></path><path d="M204.49,579.56a20.66,20.66,0,0,0,5.19-.63A23.32,23.32,0,0,0,204,533a22.15,22.15,0,0,0-5.67.72A23.33,23.33,0,0,0,181.42,562c2.54,10,12.44,17.59,23.07,17.59" transform="translate(-0.33 0)"></path><path d="M248.83,644.24a27.2,27.2,0,1,0-38.26-32.45,26.75,26.75,0,0,0,1.69,20.6,27.58,27.58,0,0,0,24.57,14.71,26.33,26.33,0,0,0,12-2.84" transform="translate(-0.33 0)">
            </path><path d="M314.66,664a29.68,29.68,0,0,0-2.42-2.6,31.72,31.72,0,1,0-21.6,54.81,31.33,31.33,0,0,0,20.18-7.37A32,32,0,0,0,314.66,664" transform="translate(-0.33 0)"></path><path d="M256.76,376a16.34,16.34,0,0,0-3.55-.37,17.26,17.26,0,1,0,3.55.4" transform="translate(-0.33 0)"></path><path d="M254.62,464.49A20.06,20.06,0,0,0,267.91,430a19.5,19.5,0,0,0-13.45-5.44h-.71a19.58,19.58,0,0,0-13.94,6,20.11,20.11,0,0,0-5.56,14.3c.22,10.64,9.49,19.62,20.21,19.62Z" transform="translate(-0.33 0)"></path><path d="M248.92,491.51a23.12,23.12,0,0,0-2.57,17.59c2.49,10,12.36,17.6,23,17.6a20.8,20.8,0,0,0,5.21-.67,23.28,23.28,0,1,0-22.41-38.77,23,23,0,0,0-3.23,4.25" transform="translate(-0.33 0)">
            </path><path d="M275.5,558.82a27,27,0,0,0,1.67,20.63,27.59,27.59,0,0,0,24.57,14.73h0a26.64,26.64,0,0,0,11.89-2.8,27.31,27.31,0,0,0,11.78-36.61,26.38,26.38,0,0,0-5.48-7.39A26.85,26.85,0,0,0,301.3,540a27.38,27.38,0,0,0-12.3,2.95,26.81,26.81,0,0,0-13.5,15.89" transform="translate(-0.33 0)"></path><path d="M379.58,611.15a35.93,35.93,0,0,0-2.51-2.72,31.42,31.42,0,0,0-21.74-8.67A31.77,31.77,0,0,0,331.09,652a31.38,31.38,0,0,0,24.19,11.35A32.29,32.29,0,0,0,375.74,656a31.86,31.86,0,0,0,3.84-44.81" transform="translate(-0.33 0)"></path><path d="M459.92,664.28a39.14,39.14,0,0,0-3.41-2.89,36.85,36.85,0,0,0-22.29-7.51,32.69,32.69,0,0,0-5.32.4,37.16,37.16,0,1,0,31,10" transform="translate(-0.33 0)">
            </path><path d="M314.91,386.6a20.06,20.06,0,0,0,13.45-34.47,20.31,20.31,0,0,0-14.07-5.54A20,20,0,0,0,294.67,367v0c.2,10.46,9.44,19.64,19.81,19.64Z" transform="translate(-0.33 0)"></path><path d="M306.79,431.22c2.48,10,12.36,17.62,23,17.62a22.37,22.37,0,0,0,5.15-.6A23.33,23.33,0,0,0,352,420a24.15,24.15,0,0,0-6.57-11.24,23.17,23.17,0,0,0-16-6.44,22.38,22.38,0,0,0-5.7.72,23.34,23.34,0,0,0-16.89,28.23" transform="translate(-0.33 0)"></path><path d="M337.62,501.69a27.65,27.65,0,0,0,24.55,14.65h0A26,26,0,0,0,374,513.51a27.18,27.18,0,1,0-36.52-12,1.19,1.19,0,0,0,.08.16" transform="translate(-0.33 0)">
            </path><path d="M391.51,574.2a31.47,31.47,0,0,0,24.19,11.33,31.82,31.82,0,0,0,24.38-52.27,29,29,0,0,0-2.42-2.54,31.54,31.54,0,0,0-42.28-1.33,32,32,0,0,0-3.87,44.81" transform="translate(-0.33 0)"></path><path d="M524.33,635.56A37.13,37.13,0,0,0,468,587.42a35,35,0,0,0-2.9,3.41,37.37,37.37,0,0,0,29.6,59.58,38.63,38.63,0,0,0,5.15-.35,36.72,36.72,0,0,0,24.52-14.5" transform="translate(-0.33 0)"></path><path d="M630.8,628.89a43.82,43.82,0,0,0-12.3-8.23,42.56,42.56,0,0,0-17.5-3.73,43.56,43.56,0,0,0-30,75.12,44.15,44.15,0,0,0,12.33,8.24A42.76,42.76,0,0,0,600.8,704a43.6,43.6,0,0,0,30-75.15" transform="translate(-0.33 0)"></path>
          </svg>
        </a>
        <div style="display:block;float:right;">
          <div style="float:left; width:700px;padding-right:20px;">
            <input type="text" id="address" placeholder="IOTA Address">
          </div>
          <div style="float:right;">
            <button type="button"  id="all" >ALL</button>
            <button type="button"  id="from" style="background-color:green;border-color:green;">FROM</button>
            <button type="button"  id="to" style="background-color:red;border-color:red;">TO</button>
          </div>

        </div>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <main role="main" class="container" style="max-width:100%;">
      <div id="graph-container" style="max-width:100%;">
      </div>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

  </body>
</html>
